# VS Code
#
# Adapted from:
#
#   https://stackoverflow.com/a/57749909/3728155
#
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
**/.history

# Dependencies:
/node_modules
/.pnp
.pnp.js

# Build process:
npm-debug.log*

# Testing:
/coverage

# Production:
/build

# Miscellanea:
/Temp
.spellignore
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
