/* BackPage.css
// ------------
// Copyright ©2022 Jeremy Kelly
// www.anthemion.org */

#ContBackPage {
	z-index: -1;
	position: fixed;
	left: 0;
	top: 0;

	width: 100vw;
	height: 100vh;
	overflow: clip;
}

#BackPage {
	width: 1800px;
	height: 1000px;
	min-width: 100vw;
	min-height: 100vh;

	background-color: var(--ColorPattBackDk);
}

#BackPage .BackDieFace {
	fill: var(--ColorPattBackLt);
}

#BackPage .BackDieText {
	fill: var(--ColorPattBackDk);
}

#BackPage .BackDieFace.Alt {
	display: none;
}

#BackPage .BackDieText.Alt {
	fill: var(--ColorPattBackLt);
}
