/* BackPage.css
// ------------
// Copyright ©2022 Jeremy Kelly
// www.anthemion.org */

#ContainBackPage {
	z-index: -1;
	position: fixed;
	/* We are ensuring that the background always covers the viewport, and that it
	// is always square. We will also position it so that it is always centered in
	// the viewport: */
	width: calc(max(100vw, 100vh));
	height: calc(max(100vw, 100vh));
	left: calc(50vw - 50vh);
	top: 0;

	background-color: var(--ColorPattBackDk);
}

@media screen and (orientation: landscape) {
	#ContainBackPage {
		left: 0;
		top: calc(50vh - 50vw);
	}
}

#BackPage {
	background-color: var(--ColorPattBackDk);
}

#BackPage .Ray {
	fill: none;

	stroke-width: 0.1;
	stroke: hsl(0, 4%, 20%);
}

#BackPage .Circ {
	fill: transparent;

	stroke-width: 0.25;
	stroke: var(--ColorPattBackDk);
}

#BackPage .Ctr {
	fill: var(--ColorPattBackDk);

	stroke-width: 0;
}
