/* Die.css
// -------
// Copyright ©2022 Jeremy Kelly
// www.anthemion.org
//
// These styles are shared by BackDie, ConnSel, and LookDie. */

.BackDie:hover {
	cursor: pointer;
}

.BackDie .CrnSE {
	fill: var(--ColorDieCrnSE);
}

.BackDie .CrnSW,
.BackDie .CrnNE {
	fill: var(--ColorDieCrnSWNE);
}

.BackDie .CrnNW {
	fill: var(--ColorDieCrnNW);
}

.BackDie .Face,
.LookDie .BackText {
	fill: var(--ColorDieFace);
}

.BackDie:not(.CkDisp, .CkEnab) .CrnSE,
.BackDie:not(.CkDisp, .CkEnab) .CrnSW,
.BackDie:not(.CkDisp, .CkEnab) .CrnNE,
.BackDie:not(.CkDisp, .CkEnab) .CrnNW,
.BackDie:not(.CkDisp, .CkEnab) .Face,
.LookDie:not(.CkDisp, .CkEnab) .BackText {
	filter: brightness(0.85);
}

.LookDie .TextSing,
.LookDie .TextDbl,
.LookDie .TextPause {
	font-family: var(--FontFamilySerif);
	font-weight: bold;
	fill: var(--ColorDieText);
	/* Prevent letter text from being selected if the user drags while clicking: */
	user-select: none;
}

.LookDie.CkEnab:not(.CkDisp):hover .MarkEnab {
	visibility: visible;

	animation-name: MarkEnabRot;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes MarkEnabRot {
	from {
		stroke-dashoffset: 0;
	}

	to {
		stroke-dashoffset: -6.28;
	}
}

.LookDie.CkEnab:not(.CkDisp):hover .Under {
	/* Too busy otherwise: */
	visibility: hidden;
}

.LookDie .MarkSel {
	fill: var(--ColorDieMarkSel);
}

.LookDie .MarkSel.First {
	fill: var(--ColorDieMarkFirst);
}
