/* DlgEntDisp.css
// --------------
// Copyright ©2022 Jeremy Kelly
// www.anthemion.org */

#DlgEntDisp {
	border: 1px solid #888;
	border-radius: 0.5rem;
	padding: 1rem;
	background-color: hsl(0, 0%, 90%);

	display: grid;
	grid-template-rows: min-content 40vh min-content;
	grid-template-columns: min-content 40vh;
	gap: 0.5rem;
}

#DlgEntDisp #BoxLen {
	grid-column: 1;
	grid-row: 1;
}

#DlgEntDisp #BoxWik {
	grid-column: 2 / span 2;
	grid-row: 1;

	padding: 0.75rem;

	display: flex;
}

#DlgEntDisp #BoxWik a.Btn {
	flex: 1 1 auto;

	padding: 0 0.75rem;

	font-family: Georgia, serif;
	font-weight: bold;
	font-size: 2rem;

	display: grid;
	place-items: center start;
}

#DlgEntDisp #BoxWik label {
	width: min-content;

	margin-left: 1rem;

	display: grid;
	place-items: center start;

	text-align: right;
	font-size: 90%;
}

#DlgEntDisp hr {
	margin: 0.75rem 0;
}

#DlgEntDisp .LookBoard {
	grid-column: 2;
	grid-row: 2;
}

#DlgEntDisp #BoxScoreUser {
	grid-column: 1;
	grid-row: 2;
}

#DlgEntDisp #ItScoreOgle {
	grid-column: 3;
	grid-row: 2;

	display: flex;
	flex-direction: column;
}

#DlgEntDisp #BoxScoreOgle {
	flex: 1 1 auto;

	margin-bottom: 0.5rem;
}

#DlgEntDisp .Btn {
}
