/* DlgNamePlay.css
// ---------------
// Copyright ©2022 Jeremy Kelly
// www.anthemion.org */

#DlgNamePlay {
	width: calc(100vw - 1rem);
	max-width: 25rem;
}

#DlgNamePlay header {
	display: flex;
	justify-content: space-between;

	margin-bottom: 0.75rem;

	font-family: var(--FontFamilySerif);
	font-size: 1.5rem;
}

#DlgNamePlay header em {
	font-weight: bold;
	font-style: normal;
	color: var(--ColorTextAlt1);
}

#DlgNamePlay h2 {
	margin: 1rem 0 0.5rem 0;

	font-size: 2.25rem;
	font-weight: normal;
}

#DlgNamePlay label {
	display: block;

	font-size: 1.1rem;
}

#DlgNamePlay input {
	margin-top: 0.5rem;
}

#DlgNamePlay .Btn {
	margin-top: 0.5rem;
}
