/* DlgScoreWord.css
// ----------------
// Copyright ©2022 Jeremy Kelly
// www.anthemion.org */

#DlgScoreWord {
	border: 1px solid #888;
	border-radius: 0.5rem;
	padding: 1rem;
	background-color: hsl(0, 0%, 90%);

	display: grid;
	grid-template-rows: min-content 40vh min-content;
	grid-template-columns: min-content 40vh;
	gap: 0.5rem;
}

#DlgScoreWord .Box {
	text-align: center;

	font-family: Georgia, serif;
	font-weight: bold;
	font-size: 2rem;
	line-height: 100%;
}

#DlgScoreWord label {
	display: block;

	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: normal;
	font-size: 1rem;
	line-height: 150%;
}

#DlgScoreWord #BoxLen {
	grid-column: 1;
	grid-row: 1;
}

#DlgScoreWord #BoxWik {
	grid-column: 2 / span 2;
	grid-row: 1;

	padding: 0.75rem;

	display: flex;
}

#DlgScoreWord #BoxWik a.Btn {
	flex: 1 1 auto;

	padding: 0 0.75rem;

	font-family: Georgia, serif;
	font-weight: bold;
	font-size: 2rem;

	display: grid;
	place-items: center start;
}

#DlgScoreWord #BoxWik label {
	width: min-content;

	margin-left: 1rem;

	display: grid;
	place-items: center start;

	text-align: right;
}

#DlgScoreWord hr {
	margin: 0.75rem 0;
}

#DlgScoreWord .LookBoard {
	grid-column: 2;
	grid-row: 2;
}

#DlgScoreWord #BoxScoreUser {
	grid-column: 1;
	grid-row: 2;
}

#DlgScoreWord #ItScoreOgle {
	grid-column: 3;
	grid-row: 2;

	display: flex;
	flex-direction: column;
}

#DlgScoreWord #BoxScoreUser,
#DlgScoreWord #BoxScoreOgle {
	flex: 1 1 auto;

	display: flex;
	flex-direction: column;
}

#DlgScoreWord #BoxScoreOgle {
	margin-bottom: 0.5rem;
}

#DlgScoreWord .Block {
	line-height: 100%;
}

#DlgScoreWord .Block div {
	/* A temporary fix for Georgia's short number characters: [to do] */
	position: relative;
	top: -0.06em;
}

#DlgScoreWord .SideDown,
#DlgScoreWord .SideUp {
	flex: 1 1 auto;

	display: grid;
	place-items: center center;
}

#DlgScoreWord .Btn {
}
