/* DlgScoreWord.css
 * ----------------
 * Copyright ©2022 Jeremy Kelly
 * www.anthemion.org */

#DlgScoreWord {
	/* The width and height of the board element. This will determine the size of
	 * the dialog as a whole. */
	--SizeBoard: 26rem;

	display: flex;
	flex-direction: column;
}

#DlgScoreWord var {
	display: block;

	font-family: var(--FontFamilySerif);
	font-weight: bold;
	font-style: normal;
	font-size: 1.75rem;
	line-height: 110%;
}

#DlgScoreWord label {
	display: block;

	font-family: var(--FontFamilySans);
	font-weight: normal;
	line-height: 150%;
}

#DlgScoreWord #BoxWik {
	margin-top: 0.25rem;

	display: flex;
}

#DlgScoreWord #BtnWik {
	flex: 1;

	min-width: 4rem;
	padding: 0 0.75rem;

	font-family: var(--FontFamilySerif);
	font-weight: bold;
	font-size: 2rem;

	display: grid;
	place-items: center start;
}

#DlgScoreWord #InstructWik {
	width: min-content;
	display: flex;
	align-items: center;

	margin-left: 1rem;

	text-align: right;
}

#DlgScoreWord .LookBoard {
	width: var(--SizeBoard);
	height: var(--SizeBoard);

	margin-top: 1rem;
}

#DlgScoreWord #BoxScoreBtns {
	margin-top: 0.75rem;
	padding: 0 0.5rem;

	display: flex;
	flex-direction: column;
}

#DlgScoreWord #BoxScore {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#DlgScoreWord .BoxStatUser {
	flex: 1 0 0;
	text-align: left;
}

#DlgScoreWord .BoxStatOgle {
	flex: 1 0 0;
	text-align: right;
}

#DlgScoreWord #BoxLen label {
	margin-top: 0.25rem;
}

#DlgScoreWord .Btns {
	margin-top: 1rem;
	border-top: 1px dashed var(--ColorRule);
	padding-top: 1rem;
}

#DlgScoreWord .Btn {
	min-width: 4rem;
}

/* Responsive layouts
 * ------------------ */

@media screen and (max-width: 500px) {
	#DlgScoreWord {
		--SizeBoard: clamp((360px - 4rem), (100vw - 4rem), 26rem);

		padding: 1rem;
	}

	#DlgScoreWord #InstructWik {
		font-size: 1rem;
	}

	#DlgScoreWord #BoxScore label {
		font-size: 1rem;
	}

	#DlgScoreWord #BoxScore var {
		font-size: 1.33rem;
	}
}

@media screen and (orientation: landscape) and (max-height: 750px) {
	#DlgScoreWord {
		--SizeBoard: clamp((360px - 4rem), (100vh - 4rem), 26rem);

		flex-direction: row;
	}

	#DlgScoreWord #BoxWik {
		/* Have to fix this width, or it will increase in Firefox as the browser is
		 * continually resized: */
		width: 4rem;

		flex-direction: column-reverse;
	}

	#DlgScoreWord #BtnWik {
		writing-mode: vertical-rl;
		transform: rotate(180deg);

		padding: 0.75rem 0;

		display: grid;
		place-items: center start;
	}

	#DlgScoreWord #InstructWik {
		width: initial;
		height: 4rem;

		writing-mode: vertical-rl;
		transform: rotate(180deg);

		margin: 1rem 0 1rem 0;

		font-size: 1rem;
	}

	#DlgScoreWord .LookBoard {
		flex: 1;

		margin: 0 0 0 1rem;
	}

	#DlgScoreWord #BoxScoreBtns {
		justify-content: space-between;

		margin: 0 0.25rem 0 1.25rem;
		padding: 0;
	}

	#DlgScoreWord #BoxScore {
		flex: 1;

		flex-direction: column;
	}

	#DlgScoreWord .BoxStatUser,
	#DlgScoreWord .BoxStatOgle {
		flex-grow: initial;
		text-align: center;
	}

	#DlgScoreWord #BoxScore label {
		font-size: 1rem;
	}

	#DlgScoreWord #BoxScore var {
		font-size: 1.5rem;
	}

	#DlgScoreWord .Btn {
		width: 100%;
	}
}
