/* DlgVerWord.css
// --------------
// Copyright ©2022 Jeremy Kelly
// www.anthemion.org */

#DlgVerWord {
	width: calc(100vw - 2rem);
	max-width: 35rem;

	text-align: left;
}

#DlgVerWord #BoxWik {
	text-align: center;
}

#DlgVerWord #BtnWik {
	display: block;
	width: 100%;
	height: 4rem;

	margin: 0.25rem 0;
	padding: 0 0.75rem;

	font-family: Georgia, serif;
	font-weight: bold;
	font-size: 2em;

	display: grid;
	place-items: center start;
}

#DlgVerWord hr {
	margin: 0.75rem 0;
}

#DlgVerWord .Btns {
	margin-top: 1rem;
}

/* Responsive layout
// ----------------- */

@media screen and (max-height: 700px) {
	#DlgVerWord {
		max-width: initial;

		font-size: 90%;
	}

	#DlgVerWord #TextIntro,
	#DlgVerWord #TextPromptClick,
	#DlgVerWord hr {
		display: none;
	}

	#DlgVerWord #BtnWik {
		margin-bottom: 0.75rem;
	}
}
