/* LookDie.css
// -----------
// Copyright ©2022 Jeremy Kelly
// www.anthemion.org */

.LookDie {
}

.LookDie .TextSing,
.LookDie .TextDbl {
	/* Prevent letter text from being selected if the user drags while clicking: */
	user-select: none;
}

.LookDie.CkEnab:hover .MarkEnab {
	visibility: visible;
}

.LookDie.CkEnab:hover .Under {
	/* Too busy otherwise: */
	visibility: hidden;
}
