/* LookBoard.css
// -------------
// Copyright ©2022 Jeremy Kelly
// www.anthemion.org */

#LookBoard {
	width: 50vh;
	height: 50vh;
	padding: 0.1rem;

	display: grid;
	grid-template-columns: 20%;
	grid-template-rows: 20%;

	background-color: black;
	border-radius: 0.9rem;
	padding: 0.2rem;
}

#LookBoard .X0 {
	grid-column-start: 1;
}

#LookBoard .X1 {
	grid-column-start: 2;
}

#LookBoard .X2 {
	grid-column-start: 3;
}

#LookBoard .X3 {
	grid-column-start: 4;
}

#LookBoard .X4 {
	grid-column-start: 5;
}

#LookBoard .Y0 {
	grid-row-start: 1;
}

#LookBoard .Y1 {
	grid-row-start: 2;
}

#LookBoard .Y2 {
	grid-row-start: 3;
}

#LookBoard .Y3 {
	grid-row-start: 4;
}

#LookBoard .Y4 {
	grid-row-start: 5;
}
