/* ViewAbout.css
 * -------------
 * Copyright ©2022 Jeremy Kelly
 * www.anthemion.org */

#ViewAbout section {
	font-size: 115%;
	text-align: center;
}

#ViewAbout #Logo {
	width: 5rem;
	height: 5rem;

	margin-top: 1.5rem;

	/* Need to use 'filter' here, or the shadow won't be rendered under
	 * transparent areas within the SVG: */
	filter: drop-shadow(0 0 2px black);
}

#ViewAbout h1 {
	margin: 1rem 0 0 0;
}

#ViewAbout h3 {
	margin: 0;
}

#ViewAbout .Btns {
	margin: 1.5rem 0 1rem 0;

	justify-content: center;
}

/* Responsive layouts
 * ------------------ */

@media screen and (max-width: 500px),
	screen and (orientation: landscape) and (max-height: 600px) {

	#ViewAbout {
		width: 100vw;
		min-height: 100vh;

		margin-top: 0;
		border: none;
		border-radius: 0;
		padding: 1rem 1rem calc(var(--HeightTrayBtn) - 0.25rem) 1rem;
		background-color: var(--ColorViewBackMob);

		display: grid;
		place-items: center;
	}
}

@media screen and (orientation: portrait) and (max-height: 630px) {
	#ViewAbout #Logo {
		width: 4rem;
		height: 4rem;
	}

	#ViewAbout section {
		font-size: 0.9rem;
	}
}

@media screen and (orientation: landscape) and (max-height: 600px) {
	#ViewAbout {
		padding: 1rem 0;
	}

	#ViewAbout main {
		flex: 1;

		display: flex;
		justify-content: space-evenly;
	}

	#ViewAbout section {
		flex: 1;

		border-left: 1px dashed var(--ColorRule);
		padding: 0 1.5rem;
	}

	#ViewAbout section:nth-child(1) {
		border-left: none;
	}

	#ViewAbout section:nth-child(2) {
		flex: 3;
	}

	#ViewAbout #Logo {
		margin-top: 1rem;
	}

	#ViewAbout .Btns {
		flex: 0;

		margin: 0.5rem 0 0 0;
	}
}
