/* ViewAbout.css
// -------------
// Copyright ©2022 Jeremy Kelly
// www.anthemion.org */

.ViewAbout {
	text-align: center;
	font-size: 115%;
}

.ViewAbout #Logo {
	width: 5rem;
	height: 5rem;
	margin: 2rem 0 0 0;
}

.ViewAbout h1 {
	margin: 1rem 0 0 0;
}

.ViewAbout h3 {
	margin: 0;
}