/* ViewPlay.css
// ------------
// Copyright ©2022 Jeremy Kelly
// www.anthemion.org */

#ViewPlay #BoxEnt {
	height: 4rem;

 	display: flex;
	justify-content: space-between;
	align-items: center;

	border: 1px solid #AAA;
	border-radius: 0.5rem;
	padding: 0 1rem;
	margin-bottom: 1rem;
}

#ViewPlay #TextInstruct {
	padding-right: 3rem;
	font-size: 1.1rem;
}

#ViewPlay #TextEnt {
	font-weight: bold;
	font-size: 2rem;
}

#ViewPlay #TextEnt::after {
  content: "_";
}

#DlgPause {
	background-color: hsl(0, 0%, 90%);
	border: 1px solid #888;
	border-radius: 0.5rem;
	padding: 1rem;
}

#DlgPause.Show {
	visibility: visible;
}

#DlgPause button {
	display: block;
	width: 100%;
	margin-top: 0.5rem;
}

#DlgPause button:first-child {
	margin-top: 0;
}
