/* ViewSetup.css
 * -------------
 * Copyright ©2022 Jeremy Kelly
 * www.anthemion.org */

#ViewSetup {
	width: 30rem;

	display: flex;
	flex-direction: column;
}

#ViewSetup #Logo {
	display: none;
}

#ViewSetup section {
	margin-bottom: 0.5rem;
	border-radius: 0.25rem;
	padding: 0.5rem 1rem 0.5rem 1rem;

	background-color: var(--ColorSlideBack);
	box-shadow: 0 0 3px hsla(0, 0%, 0%, 0.5);
}

#ViewSetup section:focus-within {
	outline: var(--StyBtnOutFoc);
}

#ViewSetup section.Row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#ViewSetup section.Row select {
	min-width: 5em;
}

#ViewSetup label {
	font-family: var(--FontFamilySerif);
	font-weight: bold;
	font-size: 1.25rem;
}

#ViewSetup .Name {
	float: right;

	font-family: var(--FontFamilySerif);
	font-weight: bold;
	font-size: 1.25rem;
}

#ViewSetup .Instruct {
	font-size: 1.1rem;

	text-align: center;
}

#ViewSetup .Btns {
	margin-top: 0.75rem
}

/* Responsive layouts
 * ------------------ */

@media screen and (orientation: portrait) and (max-width: 500px),
	screen and (orientation: landscape) and (max-height: 500px) {

	#ViewSetup {
		--HeightTrayBtn: 4.5rem;

		width: 100vw;
		min-height: 100vh;

		border: none;
		border-radius: 0;
	}

	#ViewSetup section {
		padding: 1rem 1rem 1.25rem 1rem;
	}

	#ViewSetup h1 {
		margin-bottom: 0.75rem;
	}

	/* Button tray
	 * ----------- */

	#ViewSetup #BtnsMain {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		height: var(--HeightTrayBtn);

		border-top: var(--StyTrayBord);
		padding: 0.75rem;

		background-color: var(--ColorTrayBack);
		box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.5);
	}
}

@media screen and (orientation: portrait) and (max-width: 500px) {
	#ViewSetup #Logo {
		display: initial;
		align-self: center;

		width: 4rem;
		height: 4rem;

		margin: 1rem 0 0.75rem 0;

		/* Need to use 'filter' here, or the shadow won't be rendered under
		* transparent areas within the SVG: */
		filter: drop-shadow(0 0 2px black);
	}
}

@media screen and (orientation: portrait) and (max-height: 600px) {
	#ViewSetup #Logo {
		display: none;
	}
}

@media screen and (orientation: landscape) and (max-height: 500px) {
	#ViewSetup main {
		display: flex;
		gap: 0.5rem;
	}

	#ViewSetup section {
		flex: 1;

		/* So that the view can be scrolled up if button the tray covers the
		 * sections: */
		margin-bottom: var(--HeightTrayBtn);
	}
}
