/* ViewPlay.css
// ------------
// Copyright ©2022 Jeremy Kelly
// www.anthemion.org */

#ViewPlay main {
	font-size: 1.1rem;
}

#ViewPlay #ColBoard {
	padding: 0.75rem 1rem;

	text-align: center;
}

#ViewPlay #BoxEnt {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#ViewPlay #TextInstruct {
	padding-right: 1rem;
}

#ViewPlay #TextEnt {
	font-family: Georgia, serif;
	font-weight: bold;
	font-size: 2.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#ViewPlay #TextEnt::after {
	content: "_";

	animation-name: BlinkCursTextEnt;
	animation-duration: 0.75s;
	animation-timing-function: steps(2, jump-none);
	animation-iteration-count: infinite;
}

@keyframes BlinkCursTextEnt {
	from { color: black; }
	to { color: transparent; }
}

#ViewPlay #TextCtls {
	margin-top: 0.5rem;
}

#ViewPlay #BoxWork {
	/* We could do something fancy here, but it is visible just momentarily. */

	width: 100%;
	aspect-ratio: 1 / 1;

	display: grid;
	place-items: center;

	background-color: black;
	border-radius: 0.5rem;
	padding: 1rem;

	font-family: Georgia, serif;
	font-weight: bold;
	font-size: 2rem;
	color: hsl(30, 38%, 93%);
}

#ViewPlay #BoxTime,
#ViewPlay #BoxScore {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;

	font-size: 1rem;
	text-align: center;
}

#ViewPlay #BtnPause,
#ViewPlay #BtnEnt {
	display: block;
	width: 100%;
}

#ViewPlay #LblTime,
#ViewPlay #LblScore {
	font-family: Georgia, serif;
	font-size: 2.5rem;
	font-weight: bold;
	line-height: 100%;
}

#ViewPlay #BoxSetup {
	display: flex;
	justify-content: space-around;

	text-align: center;
}

#ViewPlay #BoxSetup h3 {
	margin: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: normal;
	font-size: 1rem;
}

#ViewPlay #BoxSetup div {
	font-family: Georgia, serif;
	font-size: 1.75rem;
	font-weight: bold;
}

/* Pause dialog
// ------------ */

#DlgPause p {
	margin: 0.5rem 1rem 1rem 1rem;
}

/* End Confirmation dialog
// ----------------------- */

#DlgConfirmEnd p {
	margin: 0.5rem 1rem 1rem 1rem;
}

#DlgConfirmEnd .Btn {
	width: 100%;
}

/* Responsive layouts
// ------------------ */

#ViewPlay {
	width: 40rem;
}

#ViewPlay main {
	width: 100%;

	display: grid;
	grid-template-columns: auto 10rem;
	grid-template-rows: auto 1fr auto;
	gap: 0.5rem;
}

#ViewPlay #ColBoard {
	grid-column: 1;
	grid-row: 1 / span 3;
}

#ViewPlay #BoxEnt {
	height: 3.5rem;

	margin-bottom: 0.5rem;
}

#ViewPlay #BoxTime {
	grid-column: 2;
	grid-row: 1;
}

#ViewPlay #BoxSetup {
	grid-column: 2;
	grid-row: 2;
}

#ViewPlay #BoxScore {
	grid-column: 2;
	grid-row: 3;
}

#ViewPlay #BoxSetup {
	flex-direction: column;
}

#ViewPlay #BoxSetup hr {
	width: 100%;
}

@media screen and (orientation: portrait) and (max-width: 700px) {
	#ViewPlay {
		width: calc(100vw - 1rem);
		max-width: 480px;
	}

	#ViewPlay main {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
	}

	#ViewPlay #ColBoard {
		grid-column: 1 / span 2;
		grid-row: 1;
	}

	#ViewPlay #BoxSetup {
		display: none;
	}

	#ViewPlay #BoxTime {
		grid-column: 1;
		grid-row: 2;
	}

	#ViewPlay #BoxScore {
		grid-column: 2;
		grid-row: 2;
	}

	#ViewPlay .Desk {
		display: none;
	}

	#ViewPlay .Mob {
		display: block;
	}
}

@media screen and (orientation: portrait) and (max-width: 540px) {
	#ViewPlay {
		width: calc(100vw - 1rem);
		max-width: initial;
		width: calc(100vw - 1rem);
	}

	#ViewPlay h1 {
		margin: 0;
	}

	#ViewPlay #ColBoard {
		border: none;
		padding: 0;
	}

	#ViewPlay #BoxEnt {
		height: 5rem;
	}

	#ViewPlay #TextInstruct {
		font-size: 90%;
	}

	#ViewPlay #BoxTime,
	#ViewPlay #BoxScore {
		border: none;
		padding: 0;
	}
}

@media screen and (orientation: portrait) and (max-width: 540px)
	and (max-height: 720px) {

	#ViewPlay #ColBoard {
		margin-bottom: 0.5rem;
	}

	#ViewPlay #TextInstruct {
		font-size: 80%;
		text-align: left;
	}
}

@media screen and (orientation: landscape) and (max-height: 700px) {
	#ViewPlay {
		width: 45rem;
		display: flex;
	}

	#ViewPlay h1 {
		writing-mode: vertical-rl;
		transform: rotate(180deg);

		margin: 0 0.75rem 0 0;
	}

	#ViewPlay .Desk {
		display: none;
	}

	#ViewPlay .Mob {
		display: block;
	}
}

@media screen and (orientation: landscape) and (max-height: 600px) {
	#ViewPlay {
		width: auto;
	}

	#ViewPlay main {
		grid-template-columns: auto 10rem;
		grid-template-rows: auto auto;
	}

	#ViewPlay #ColBoard {
		grid-column: 1;
		grid-row: 1 / span 2;
	}

	#ViewPlay #BoxSetup {
		display: none;
	}

	#ViewPlay #BoxTime {
		grid-column: 2;
		grid-row: 1;
	}

	#ViewPlay #BoxScore {
		grid-column: 2;
		grid-row: 2;
	}

	#ViewPlay #ColBoard {
		display: flex;
		gap: 0.75rem;
	}

	#ViewPlay #BoxEnt {
		height: initial;
		width: 4rem;
		flex-direction: column-reverse;
		justify-content: space-between;
	}

	#ViewPlay #BoxWork,
	#ViewPlay .LookBoard {
		height: calc(100vh - 5rem);
		width: calc(100vh - 5rem);

		min-height: 285px;
		min-width: 285px;
	}

	#ViewPlay #TextInstruct {
		flex: 1 1 0;

		writing-mode: vertical-rl;
		transform: rotate(180deg);

		padding: 0 0 1.5rem 0;
	}

	#ViewPlay #TextEnt {
		writing-mode: vertical-rl;
		transform: rotate(180deg);
	}
}

@media screen and (orientation: landscape) and (max-height: 400px) {
	#ViewPlay #TextInstruct {
		font-size: 90%;
	}
}
