/* ViewPlay.css
// ------------
// Copyright ©2022 Jeremy Kelly
// www.anthemion.org */

#ViewPlay #Box {
	display: flex;
	gap: 0.5rem;

	font-size: 1.1rem;
	text-align: center;
}

#ViewPlay #BoxBoard {
	flex-grow: 4;

	border: 1px solid #AAA;
	border-radius: 0.25rem;
	padding: 0.75rem 1rem;
}

#ViewPlay #BoxEnt {
	height: 3.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-bottom: 0.5rem;
}

#ViewPlay #TextInstruct {
	padding-right: 1rem;

	text-align: center;
}

#ViewPlay #TextEnt {
	font-family: Georgia, serif;
	font-weight: bold;
	font-size: 2.5rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	/* This is questionable: [to do] */
	max-width: 24vw;
}

#ViewPlay #TextEnt::after {
	content: "_";
}

#ViewPlay #TextCtls {
	margin-top: 0.5rem;
}

#ViewPlay #BoxWait {
	/* We could try to do something nice here, but it is visible for just a
	// fraction of a second. Maybe start with something resembling the pause
	// state? This would reduce flashing, if nothing else. */

	width: 100%;
	aspect-ratio: 1;

	display: grid;
	place-items: center;

	background-color: black;
	border-radius: 3%;
	padding: 1rem;

	font-family: Georgia, serif;
	font-weight: bold;
	font-size: 2rem;
	color: hsl(30, 38%, 93%);
}

#ViewPlay #BoxStat {
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

#ViewPlay #BoxTime {
	border: 1px solid #AAA;
	border-radius: 0.25rem;
	padding: 1rem;

	display: grid;
	place-items: center;

	font-size: 1rem;
}

#ViewPlay #Time {
	font-family: Georgia, serif;
	font-size: 2.5rem;
	font-weight: bold;
	line-height: 100%;
}

#ViewPlay #BtnPause,
#ViewPlay #BtnEnt {
	display: block;
	width: 100%;
	margin-bottom: 0.5rem;
}

#ViewPlay #BoxOgle {
	flex-grow: 1;

	border: 1px solid #AAA;
	border-radius: 0.25rem;
	padding: 1rem;
}

#ViewPlay #BoxScore {
	border: 1px solid #AAA;
	border-radius: 0.25rem;
	padding: 0.75rem 1rem;
}

#ViewPlay #Score {
	font-family: Georgia, serif;
	font-size: 2.5rem;
	font-weight: bold;
	line-height: 100%;
}

/* Pause dialog
// ------------ */

#DlgPause {
	background-color: hsl(0, 0%, 90%);
	border: 1px solid #888;
	border-radius: 0.5rem;
	padding: 1rem;
}

#DlgPause button {
	display: block;
	width: 100%;
	margin-top: 0.5rem;
}

#DlgPause button:first-child {
	margin-top: 0;
}

/* Word Verification dialog
// ------------------------ */

#DlgVerWord {
	width: 30%;

	border: 1px solid #888;
	border-radius: 0.5rem;
	padding: 1rem;
	background-color: hsl(0, 0%, 90%);

	text-align: left;
}

#DlgVerWord #BoxWik {
	margin-bottom: 1rem;;

	text-align: center;
}

#DlgVerWord #BoxWik a.Btn {
	display: block;
	width: 100%;
	height: 4rem;

	margin: 0.25rem 0;
	padding: 0 0.75rem;

	font-family: Georgia, serif;
	font-weight: bold;
	font-size: 2rem;

	display: grid;
	place-items: center start;
}
