/* ViewSetup.css
// -------------
// Copyright ©2022 Jeremy Kelly
// www.anthemion.org */

#ViewSetup section {
	margin: 0.5rem 0;
	border-radius: 0.25rem;
	padding: 0.5rem 1rem;
	background-color: hsl(0, 0%, 100%);;
}

#ViewSetup label {
	font-size: 1.25rem;
}

#ViewSetup .Name {
	float: right;
	font-family: Georgia, serif;
	font-weight: bold;
	font-size: 1.25rem;
}

#ViewSetup .Instruct {
	text-align: center;
}