/* index.css
 * ---------
 * Copyright ©2022 Jeremy Kelly
 * www.anthemion.org */

@import "~sanitize.css";
@import "~sanitize.css/typography.css";
@import "~sanitize.css/forms.css";

:root {
	--FontFamilySerif: "Brygada 1918", serif;
	--FontFamilySans: "Open Sans", sans-serif;

	/** It is easy to select by accident when using a touchscreen: */
	user-select: none;
}

.ThemeLt {
	--ColorPattBackDk: hsl(30, 4%, 10%);
	--ColorPattBackLt: hsl(30, 4%, 15%);

	--ColorViewBack: hsl(30, 20%, 93%);
	--ColorViewBackAlt: hsl(30, 10%, 86%);
	--StyViewBord: none;

	--ColorDlgBack: hsl(30, 10%, 93%);
	--StyDlgBord: none;

	--ColorText: black;
	--ColorTextBlink: hsla(0, 0%, 0%, 0.2);
	--ColorTextAlt1: hsl(0, 60%, 50%);
	--ColorTextAlt2: hsl(30, 60%, 50%);

	--ColorLink: hsl(30, 75%, 40%);
	--ColorLinkVisit: hsl(30, 75%, 40%);

	--ColorRule: black;

	--ColorBtnBack: white;
	--ColorBtnBackDisab: hsl(0, 0%, 85%);
	--ColorBtnBackHov: hsl(0, 0%, 95%);
	--ColorBtnBackAct: hsl(0, 0%, 85%);
	--StyBtnOutFoc: 1px solid hsl(0, 60%, 40%);
	--ColorBtnBord: transparent;
	--ColorBtnText: black;
	--ColorBtnTextDisab: hsl(0, 0%, 50%);

	--ColorInBack: white;
	--ColorInBord: hsl(0, 60%, 40%);
	--StyInOutFoc: 1px solid hsl(0, 60%, 40%);
	--ColorInText: black;

	--ColorSlideBack: white;
	--ColorSlideTrack: #AAA;
	--ColorSlideTrackHov: hsl(0, 60%, 40%);
	--ColorSlideThumb: black;
	--ColorSlideThumbHov: hsl(0, 60%, 40%);

	--ColorBoardBord: hsl(0, 0%, 50%);
	--ColorBoardBack: black;

	--ColorDieCrnSE: hsl(30, 22%, 68%);
	--ColorDieCrnSWNE: hsl(31, 35%, 85%);
	--ColorDieCrnNW: white;
	--ColorDieFace: hsl(30, 38%, 93%);
	--BrightDieDisab: 0.8;
	--ColorDieMarkSel: hsla(30, 50%, 50%, 0.4);
	--ColorDieMarkFirst: hsla(0, 45%, 50%, 0.4);
	--ColorDieText: black;
}

.ThemeDk {
	--ColorPattBackDk: hsl(0, 4%, 10%);
	--ColorPattBackLt: hsl(0, 4%, 15%);

	--ColorViewBack: hsl(0, 4%, 20%);
	--ColorViewBackAlt: hsl(0, 4%, 26%);
	--StyViewBord: 1px solid hsl(0, 4%, 40%);

	--ColorDlgBack: hsl(0, 4%, 20%);
	--StyDlgBord: 1px solid hsl(0, 4%, 30%);

	--ColorText: hsl(0, 0%, 90%);
	--ColorTextBlink: hsla(0, 0%, 90%, 0.2);
	--ColorTextAlt1: hsl(0, 60%, 70%);
	--ColorTextAlt2: hsl(30, 60%, 70%);

	--ColorLink: hsl(30, 60%, 70%);
	--ColorLinkVisit: hsl(30, 60%, 70%);

	--ColorRule:  hsl(0, 4%, 75%);

	--ColorBtnBack: transparent;
	--ColorBtnBackDisab: hsl(0, 4%, 30%);
	--ColorBtnBackHov: hsl(0, 4%, 30%);
	--ColorBtnBackAct: hsl(0, 2%, 15%);
	--StyBtnOutFoc: 1px solid hsl(30, 60%, 40%);
	--ColorBtnBord: hsl(0, 4%, 75%);
	--ColorBtnText: hsl(0, 0%, 90%);
	--ColorBtnTextDisab: hsl(0, 0%, 70%);

	--ColorInBack: hsl(0, 4%, 30%);
	--ColorInBord: hsl(0, 4%, 75%);
	--StyInOutFoc: 1px solid hsl(30, 60%, 40%);
	--ColorInText: hsl(0, 0%, 90%);

	--ColorSlideBack: hsl(0, 4%, 26%);
	--ColorSlideTrack: hsl(0, 4%, 75%);
	--ColorSlideTrackHov: hsl(30, 60%, 60%);
	--ColorSlideThumb: hsl(0, 0%, 90%);
	--ColorSlideThumbHov: hsl(30, 60%, 60%);

	--ColorBoardBord: hsl(0, 4%, 35%);
	--ColorBoardBack: hsl(0, 4%, 12%);

	--ColorDieCrnSE: hsl(30, 12%, 55%);
	--ColorDieCrnSWNE: hsl(30, 22%, 70%);
	--ColorDieCrnNW: hsl(0, 0%, 92%);
	--ColorDieFace: hsl(30, 22%, 85%);
	--BrightDieDisab: 0.7;
	--ColorDieMarkSel: hsla(30, 50%, 50%, 0.45);
	--ColorDieMarkFirst: hsla(0, 45%, 50%, 0.45);
	--ColorDieText: black;
}

#ContainTheme {
	height: 100%;
	min-height: 100vh;

	font-family: var(--FontFamilySans);
	color: var(--ColorText);

	display: grid;
	place-items: center;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--FontFamilySerif);
}

a {
	text-decoration: none;
	color: var(--ColorLink);
}

a:visited {
	color: var(--ColorLinkVisit);
}

hr {
	border: none;
	border-top: 1px dashed var(--ColorRule);
}

ul {
	margin: 0.5rem 0;
}

li {
	margin: 0.5rem 1rem 0.5rem 0;
}

aside {
	font-size: 90%;
}

/* Tables
 * ------ */

table {
	width: 100%;
}

thead {
	border-bottom: 1px solid var(--ColorRule);
}

th {
	padding-bottom: 0.5rem;
}

/* 'thead', 'tbody', and 'tr' all lack padding, so there is otherwise no way to
 * add space between the 'thead' border and the first body row. Don't add this
 * spacing unless there actually is a heading, however: */
thead + tbody:before {
	content: "";
	display: table-row;
	height: 0.75rem;
}

th, td {
	text-align: center;
}

th:first-child,
td:first-child {
	padding-left: 0.5rem;
	text-align: left;
}

th:last-child,
td:last-child {
	padding-right: 0.5rem;
	text-align: right;
}

tbody tr:nth-child(odd) {
	/* Would like to round these corners, but 'border-radius' is ignored here: */
	background-color: var(--ColorViewBackAlt);
}

/* Buttons
 * ------- */

button, input[type="submit"], a.BtnLink {
	background-color: var(--ColorBtnBack);
	padding: 0.5rem 1rem;
	border: 1px solid var(--ColorBtnBord);
	border-radius: 0.25rem;

	font-size: 1.1rem;
	/* Prevent text wrapping by default. This is useful when the containing dialog
	 * (for instance #DlgConfirmEnd) has no explicit width. You might guess that
	 * the button text would contribute to the dialog width, but instead, the
	 * dialog width is set according to its text content, and then the buttons are
	 * made to wrap their text to fit that width, unless this is set: */
	white-space: nowrap;
	color: var(--ColorBtnText);

	box-shadow: 0 0 2px hsla(0, 0%, 0%, 0.5);
}

button:focus, input[type="submit"]:focus, a:focus.BtnLink {
	outline: var(--StyBtnOutFoc);
}

button:disabled, input[type="submit"]:disabled, a:disabled.BtnLink {
	background-color: var(--ColorBtnBackDisab);
	color: var(--ColorBtnTextDisab);
}

button:disabled:active, input[type="submit"]:disabled:active,
	a:disabled:active.BtnLink {

	background-color: var(--ColorBtnBackDisab);
	color: var(--ColorBtnTextDisab);
}

button:hover, input[type="submit"]:hover, a:hover.BtnLink {
	background-color: var(--ColorBtnBackHov);
}

button:active, input[type="submit"]:active, a:active.BtnLink {
	background-color: var(--ColorBtnBackAct);
}

/* Button rows
 * ----------- */

.Btns {
	display: flex;
}

.Btns * {
	margin-left: 0.5rem;
}

.Btns *:first-child {
	margin-left: 0;
}

.Btns.Ctr {
	justify-content: center;
}

/* Each application of this class starts a new button group. */
.Btns *.Group {
	margin-left: auto;
}

/* Text inputs
 * ----------- */

input {
	width: 100%;
	margin: 0.25rem 0 0.5rem 0;

	background-color: var(--ColorInBack);
	border: 1px solid var(--ColorInBord);

	font-family: var(--FontFamilySerif);
	font-weight: bold;
	font-size: 1.5rem;

	color: var(--ColorInText);
	text-align: center;
}

input:focus {
	/* Use 'outline' to thicken the border without shifting the layout: */
	outline: var(--StyInOutFoc);
}

/* Dialogs
 * ------- */

.ScrimDlg {
	z-index: 1;
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: hsla(0, 0%, 0%, 0.4);

	display: grid;
	place-items: center;
}

.Dlg {
	border-radius: 0.5rem;
	padding: 1.25rem;
	background-color: var(--ColorDlgBack);
	border: var(--StyDlgBord);
	box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.7);

	font-size: 1.1rem;
	text-align: center;
}

/* Responsive
 * ---------- */

.Mob {
	/* 'visibility: collapse' does not seem to work the way it should: */
	display: none;
}
